<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Fields</h2></div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary" (click)="addField()">+ Add New</button>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Required</th>
          <th>Is Active</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of slicedFields">
          <td> {{ field.label }} </td>
          <td> {{ field.fieldType }} </td>
          <td> {{ field.required }} </td>
          <td> {{ field.active }} </td>
          <td>
            <div class="d-flex flex-row">
              <button class="btn btn-outline-success" title="Edit" (click)="editField(field)">Edit</button>
              <button class="btn btn-outline-danger" title="Delete" (click)="deleteField(field.id)">Delete</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="fields.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshFields()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshFields()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
