<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Responses</h2></div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <th *ngFor="let field of fields">{{field.label}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let response of slicedResponses">
          <td *ngFor="let field of fields">
            <div *ngIf="!answerWillBe(field.id, response.responseEntries)">N/A</div>
            <div *ngIf="answerWillBe(field.id, response.responseEntries)">{{getAnswer(field.id, response.responseEntries)}}</div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="responses.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshResponses()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshResponses()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
