<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Field</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editFieldFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label class="col-form-label col-sm-2 text-right">Label*</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [formControlName]="'label'"/>
        <div class="error" *ngIf="editFieldFormGroup.get('label')!.invalid && editFieldFormGroup.get('label')!.touched">
          {{getRequiredError('label')}}
        </div>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="sel1" class="col-form-label col-sm-2 text-right">Type*</label>
      <div class="col-sm-6">
        <select class="form-control" id="sel1" [formControlName]="'type'">
          <option>SINGLE_LINE_TEXT</option>
          <option>MULTILINE_TEXT</option>
          <option>RADIO_BUTTON</option>
          <option>CHECKBOX</option>
          <option>COMBOBOX</option>
          <option>DATE</option>
        </select>
        <div class="error" *ngIf="editFieldFormGroup.get('type')!.invalid && editFieldFormGroup.get('type')!.touched">
          {{getRequiredError('type')}}
        </div>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label class="col-form-label col-sm-2 text-right">Options*</label>
      <div class="col-sm-6">
        <textarea class="form-control" [formControlName]="'options'"></textarea>
        <div class="error" *ngIf="editFieldFormGroup.get('options')!.invalid && editFieldFormGroup.get('options')!.touched">
          {{getRequiredError('options')}}
        </div>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-center align-items-center">
      <div class="checkbox">
        <label><input type="checkbox" class="form-control" [formControlName]="'required'" [checked]="checked" [disabled]="!isDisabled()" value="">Required</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" [checked]="checked" class="form-control" [formControlName]="'isActive'" [disabled]="!isDisabled()">Is Active</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
      <button type="submit" class="btn btn-outline-dark" [disabled]="!editFieldFormGroup.valid">Save</button>
    </div>
  </form>
</div>

